{% extends "logger/header.html" %}
{% load static %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'login_style.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock %}

{% block content %} 
{% load crispy_forms_tags %}
    <div class="container" id="container">
        
            <form method="POST">
                <h1 style="padding-top: 15px"> Create Account</h1>
                {% csrf_token %}
		        {{ register_form|crispy }} 
                <button style="margin-top:10px" type="submit"> Create Account</button>
                <h5>Already have an account! <a href = "/login" style="color:green;"><u>Sign In</u></a></h5>
            </form>
        
        <div class="overlay-container">
            <div class="overlay">
                <div class="overlay-panel overlay-left">
                    <img src="{% static 'images/engine.png' %}" alt="movie-1" height="450" width="350"/>
                    
                </div>
                <div class="overlay-panel overlay-left">
                    <img src="{% static 'images/engine.png' %}" alt="movie-2" height="450" width="350"/>
                </div>
            </div>
        </div>
    </div>
{% endblock %}